<% include partials/header %>
<body class="home">
<% include partials/navbar %>
<% include partials/alerts %>

<div class="centered-container">
  <div id="content">
    <h1>Murzilla</h1>
    <p id="home-page-slogan">Proven recipes from all over the world</p>
    <hr>
    <a id="post-recipe-btn" href="/recipes/new" class="btn btn-primary btn-lg">Post Recipe</a>
    <a id="view-recipes-btn" href="/recipes" class="btn btn-outline-dark btn-lg">View All Recipes</a>
  </div>
</div>

<% include partials/footer %>