html {
  height: 100%;
}

.home {
  background: url("../img/homepage/brooke-lark-385507-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.btn-primary {
  color: #fff;
  background-color: #de3412;
  border-color: #de3412;
}

.btn-primary:hover {
  color: #fff;
  background-color: #a0250c;
  border-color: #861f0b;
}

.btn-link {
  color: #304735;
  font-size: 1.4em;
}

.btn-link:hover {
  color: #101811;
}

#content {
  text-align: center;
  padding-top: 20%;
}

hr {
  width: 310px;
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #ffffff;
}