.jumbotron {
  background-color: #343a40;
  color: white;
}

#new-form {
  width: 50%;
  margin: 25px auto;
}

#login-signup-form {
  margin-top: 25px;
}

@media (min-width: 350px) {
  #login-signup-form {
    width: 300px;
    margin: 25px auto;
  }
}

.btn-primary {
  background-color: rgb(231, 92, 27);
  border-color: rgb(231, 92, 27);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(235, 118, 64);
  border-color: rgb(231, 92, 27);
}

.delete-form {
  display: inline;
}

/* styles for show recipe page  */
.main-col {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .main-col {
    width: 600px;
    margin: 25px auto;
  }
}

#recipe-content {
  margin: 25px auto;
  padding: 10px auto;
}

.broken-at-newline {
  white-space: pre-line;
}

/* styles for image upload input field */
.input-container {
  margin: 1.5em auto;
  background-color: #EDEDED;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
}

input[type='file'] {
  display: none;
}

.file-info {
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.edit-img-toolbar {
  margin: 1.5em auto;
}

.crop-btn {
  display: none;
}

.rotate-btn {
  display: none;
}

.reset-btn {
  display: none;
}

#edit-section {
  display: flex;
}

#dlt-recipe-form {
  margin-left: auto;
}

#comment-section {
  margin-top: 40px;
}

/* all recipes page */
.figure {
  margin: 0 0 2rem;
}

/* navbar */
#navbar-username {
  color: #1bc9e4;
  margin-right: 10px;
}

/* links */
.btn-link {
  color: #3a3f44;
}