<% include ../partials/header %>
<body>
<% include ../partials/navbar %>
<% include ../partials/alerts %>

<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Murzilla makes posting recipes simple</h1>
    <p>Proven recipes from all over the world</p>
    <p>
      <a href="/recipes/new" class="btn btn-primary btn-lg">Post Recipe</a>
    </p>
  </div>
</header>

<div class="container">
  <div class="row">
    <% recipes.forEach(function(recipe){ %>
      <div class="col-lg-4 col-sm-6">
        <figure class="figure">
          <!-- img-thumbnail class is another option to use for img -->
          <a href="/recipes/<%= recipe.id %>">
              <img class="figure-img img-fluid rounded" src="/recipes/images/<%= recipe.imageId %>">
          </a>
          <figcaption class="figure-caption text-center">
            <a class="btn-link" href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
          </figcaption>
        </figure>
      </div>
    
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>